:root{
    --slurm-green: #CDDB49;
    --slurm-blue: #0152A1;
    --slurm-pink: #E90189;
    --slurm-light-pink: #ECB6DA;
    --orange-title: #ea6734;
    --dark-gray: #545454;
    --header-height: 100px;
    --footer-height: 56px;
}

/* @font-face kit by Fonts2u (https://fonts2u.com) */
@font-face {
    font-family: "Alienese";
    src: url('fonts/fr-fal1.woff') format('woff'),url('fonts/fr-fal1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    background-color: var(--slurm-blue);
}

body {
    font-family: Nobile, sans-serif;
    font-size: 20px;
    color: var(--dark-gray);
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    color: var(--slurm-light-pink);
}

.header-row {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    background-color: var(--slurm-blue);
}

.header-row img {
    height: 70px;
    width: 70px;
    margin-left: 15px;
}

.header-row .header-title {
    margin-left: 15px;
    color: var(--slurm-green);
    font-family: 'Corben', sans-serif;
}

.header-row .nav-bar {
    margin-left: auto;
}

.header-row .nav-link {
    margin: 0 30px 0 auto;
    font-size: 20px;
    top: -100px;
}

main {
    margin: 0 4%;
}

h2 {
    font-size: 34px;
    font-family: Corben;
    color: var(--slurm-pink);
    margin-bottom: 20px;
}

/* This accounts for the height of the header so the internal page links work correclty */
h2::before {
    display: block;
    content: "";
    margin-top: calc(var(--header-height) * -1);
    height: var(--header-height);
    visibility: hidden;
    pointer-events: none;
}

#email-section {
    text-align: center;
}

.win-trip-heading {
    font-family: Francois One, sans-serif;
    font-size: 85px;
    color: var(--orange-title);
    margin-top: calc(var(--header-height) + 50px);
    margin-bottom: 0px;
    letter-spacing: .04em;
}

.email-description {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 34px;
    font-family: Francois One;
    color: #209b9d;
}

.email-submit {
    margin-bottom: 18px;
    font-size: 16px;
}

input[type=email] {
    width: 20%;
    padding: 10px 18px;
    border: 2px solid var(--dark-gray);
    border-right: none;
    border-radius: 4px 0 0 4px;
}

.submit-button {
    background-color: var(--slurm-pink);
    color: white;
    font-weight: bold;
    padding: 10px 18px;
    margin-left: -6px;
    border: 2px solid var(--dark-gray);
    border-left: none;
    border-radius: 0 4px 4px 0;
}

.submit-button:hover {
    background-color: #b7016b;
    cursor: pointer;
}

.disclaimer-text {
    margin: 0 29% 50px;
    font-size: 9px;
    color: #757575;
    text-align: justify;
}

.short-description {
    margin-bottom: 30px;
}

.brand-container {
    display: flex;
}

.brand-container div {
    width: 28vw;
}

.add-left-margin {
    margin-left: 4vw;
}

.brand-container img {
    max-width: 100%;
    border-radius: 9%;
    box-shadow: 0 6px 8px #bdbdbd;
}

.brand-container p {
    font-family: Francois One;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-top: 5px;
}

.video-section {
    margin-bottom: 50px;
}

.video {
    width: 560px;
    margin: auto;
    display: block;
}

footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--footer-height);
    background-color: var(--dark-gray);
}

footer .nav-bar {
    margin-right: auto;
}

footer .nav-link {
    margin: 0 auto 0 30px;
    font-size: 16px;
}

footer img {
    margin: 0 20px 0 auto;
    height: 150px;
    align-self: flex-end;
    cursor: default;
}

@media screen and (max-width: 940px) {
    :root {
        --header-height: 55px;
        --footer-height: 40px;
    }

    header .nav-bar {
        display:none;
    }

    header img {
        display: none;
    }

    .header-row .header-title {
        font-size: 27px;
    }

    .hamburger-button-container {
        background-color: var(--slurm-blue);
        display: inline-block;
        position: absolute;
        right: 2%;
        top: 5%;
        cursor: pointer;
    }

    .menubar1, .menubar2, .menubar3 {
        width: 40px;
        height: 6px;
        background-color: var(--slurm-green);
        margin: 7px 0;
        transition: 0.4s;
    }

    .change .menubar1 {
        -webkit-transform: rotate(-45deg) translate(-10px, 9px);
        transform: rotate(-45deg) translate(-10px, 10px);
    }

    .change .menubar2 {
        opacity:0;
    }

    .change .menubar3 {
        -webkit-transform: rotate(45deg) translate(-9px, -9px);
        transform: rotate(45deg) translate(-9px, -9px);
    }

    header #side-nav {
        height: 100%;
        width: 0px;
        z-index: 1;
        position: fixed;
        top: var(--header-height);
        left: 0;
        background-color: var(--dark-gray);
        overflow-x: hidden;
        white-space: nowrap;
        transition: 0.4s;
        padding-top: 30px;
    }

    header #side-nav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 17px;
        color: white;
        display: block;
    }

    header #side-nav a:hover {
        background-color: var(--slurm-light-blue);
        color: var(--slurm-pink);
    }

    input[type=email] {
        width: 36%;
    }

    .disclaimer-text {
        margin: 0 8%;
    }

    .brand-container p {
        font-size: 2.9vw;
    }

    .video-section {
        margin-bottom: 50px;
    }

    footer .nav-link {
        margin: 0 auto 0 12px;
        font-size: 14px;
    }

    footer img {
        height: 85px;
    }
}

@media screen and (max-width: 680px) {
    .win-trip-heading {
        font-size: 12vw;
    }

    .email-description {
        font-size: 5vw;
    }

    .email-submit {
        font-size: 2.6vw;
    }

    input[type=email] {
        width: 40%;
        padding: 8px 14px;
    }
    
    .submit-button {
        padding: 8px 14px;
    }

    h2 {
        font-size: 4vw;
    }

    .short-description {
        font-size: 3vw;
    }

    .video {
        width: 100%;
    }
}

@media screen and (max-width: 520px) {
    .email-submit {
        margin-bottom: 15px;
        font-size: 2.8vw;
    }

    .brand-container {
        flex-direction: column;
    }

    .brand-container div {
        width: 100%;
    }

    .add-left-margin {
        margin-left: 0;
    }

    .brand-container p {
        font-size: 4.5vw;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 420px) {
    .email-submit {
        font-size: 3.2vw;
    }

    h2 {
        font-size: 5vw;
    }

    .short-description {
        font-size: 4vw;
    }
}

@media screen and (max-width: 380px) {    
    footer img {
        display: none;
    }
}