:root{
    --slurm-green: #CDDB49;
    --slurm-blue: #0152A1;
    --slurm-light-blue: #7ed4f7;
    --slurm-pink: #E90189;
    --slurm-light-pink: #ECB6DA;
    --orange-title: #ea6734;
    --footer-height: 56px;
}

/* @font-face kit by Fonts2u (https://fonts2u.com) */
@font-face {
    font-family:"Alienese";
    src:url('fonts/fr-fal1.woff') format('woff'),url('fonts/fr-fal1.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    color: var(--slurm-light-pink);
}

body {
    font-family: Nobile, sans-serif;
    font-size: 20px;
    margin: 0 4%;
}

header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--slurm-blue);
}

header img {
    height: 60px;
    width: 60px;
    margin-left: 15px;
}

header .header-title {
    margin-left: 15px;
    color: var(--slurm-green);
    font-family: 'Corben', sans-serif;
}

header .nav-bar {
    margin-left: auto;
}

header .nav-link {
    margin: 0 30px 0 auto;
    font-size: 20px;
}

main {
    margin-top: 100px;
}

#email-section {
    text-align: center;
}

.win-trip-heading {
 font-family: Francois One, sans-serif;
 font-size: 85px;
 color: var(--orange-title);
 padding-top: 60px;
 margin-bottom: 0px;
 letter-spacing: .05em;
}

.email-description {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 34px;
    font-family: Francois One;
    color: #209b9d;
}

.disclaimer-text {
    margin-right: 30%;
    margin-left: 30%;
    font-size: 9px;
    color: #757575;
    text-align: justify;
}

input[type=email] {
    width: 20%;
    padding: 10px 18px;
    margin-bottom: 15px;
    border: 1px solid #595959;
    border-radius: 4px;
    font-size: 16px;
}

.submit-button {
    background-color: var(--slurm-pink);
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 18px;
    margin-bottom: 15px;;
    border-radius: 4px;
    font-size: 16px;
}

.section-heading {
    font-size: 34px;
    font-family: Corben;
    color: var(--slurm-pink);
    margin-bottom: 40px;
    /* width: fit-content; */
    /* border-bottom: 6px solid var(--slurm-light-blue); */
}

.brand-container {
    display: flex;
}

.brand-container div {
    width: 28vw;
    padding-bottom: 35px;
}

.brand-container img {
    max-width: 100%;
    border-radius: 9%;
    box-shadow: 0 6px 8px #bdbdbd;
}

.brand-container p {
    font-family: Francois One;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    margin-top: 5px;
    color: #595959;
}

.video-section {
    margin-bottom: calc(var(--footer-height) + 40px);
}

footer {
    display: flex;
    align-items: center;
    /* position: fixed;
    bottom: 0;
    left: 0; */
    width: 100%;
    height: var(--footer-height);
    background-color: var(--slurm-pink);
}

footer .nav-bar {
    margin-right: auto;
}

footer .nav-link {
    margin: 0 auto 0 30px;
    font-size: 16px;
    color: var(--slurm-light-blue);
}

footer img {
    margin-left: auto;
    margin-right: 20px;
    height: 150px;
    align-self: flex-end;
    cursor: default;
}