:root{
    --slurm-green: #CDDB49;
    --slurm-blue: #0152A1;
    --slurm-light-blue: #33B4E9;
    --slurm-pink: #E90189;
    --slurm-light-pink: #E28CC6;
    --orange-title: #CA592D;
}

/* @font-face kit by Fonts2u (https://fonts2u.com) */
@font-face {
    font-family:"Alienese";
    src:url('fonts/fr-fal1.woff') format('woff'),url('fonts/fr-fal1.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:"Futurama";
    src:url('fonts/fr-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Futurama;
}

header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--slurm-blue);
}

#header-img {
    height: 50px;
    width: 50px;
    margin-left: 10px;
}

header .header-title {
    margin-left: 10px;
    color: var(--slurm-green);
    font-family: 'Corben', sans-serif;
}

header .nav-bar {
    margin-left: auto;
}

header .nav-link {
    margin: 0 15px 0 auto;
    color: white;
}

main {
    margin-top: 100px;
}

#email-section {
    text-align: center;
}

.win-trip-title {
 font-family: Francois One, sans-serif;
 font-size: 85px;
 color: #ea6734;
 padding-top: 60px;
 margin-bottom: 0px;
 letter-spacing: .06em;
}

.email-description {
    margin-left: 10%;
    margin-right: 10%;
    font-family: Futurama;
    font-size: 30px;
    color: #309fa1;
}

.disclaimer-text {
    margin-right: 30%;
    margin-left: 30%;
    font-size: 9px;
    color: #757575;
    text-align: justify;
}

.section-heading {
    font-size: 30px;
    font-family: Corben;
    color: var(--slurm-pink);
}

.brand-section {
    display: flex;
}